{% extends "sidebar-nav.html" %}
{% block head %}
    {% load static %}
    <title>Rocker2's favorite music</title>
    <link rel="icon" href="{% static 'images/guitar.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'images/guitar.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/audio-player.css' %}">
{% endblock %}
{% block content %}
    {% for single in music %}
        <iframe frameborder="0" style="border:none;width:100%;height:180px;" width="100%" height="180" src={{ single.musicUrlWithGrid }}>Слушайте <a href={{ single.musicUrl }}>{{ single.musicName }}</a> — <a href={{ single.artistUrl }}>{{ single.artistName }}</a> на Яндекс.Музыке</iframe>
    {% endfor %}
    {% for mp3 in mp3s %}
        <div class="container-audio">
            <h3>{{ mp3.fullsinglename }}</h3>
            <audio controls>
                <source src={{ mp3.musicUrl }} type="audio/mp3" >
                Your browser dose not Support the audio Tag
            </audio>
        </div>
    {% endfor %}
    {% for mp3 in localmp3s %}
        <div class="container-audio">
            <h3>{{ mp3.fullsinglename }}</h3>
            <audio controls>
                <source src={{ mp3.musicFile.url }} type="audio/mp3" >
                Your browser dose not Support the audio Tag
            </audio>
        </div>
    {% endfor %}
{% endblock %}