<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/sidebar-nav.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block sidebar %}
            <ul class="sidebar-nav">
                <li><a href="/">Main page</a></li>
                <li><a href="/devices">My devices</a></li>
                <li><a href="/favoritemusic">My favorite music</a></li>
                {% if request.user.is_authenticated %}
                    <li><p class="text">You are logged as {{ request.user.username }}</p></li>
                    <li><a href="{% url "logout" %}">Log out</a></li>
                {% else %}
                    <li><a href="{% url "login" %}">Log in</a></li>
                {% endif %}
            </ul>
        {% endblock %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>