<html>
    <head>
        <title>Rok page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% block sidebar %}
        <ul class="sidebar-nav">
            {% for device in devices %}
                <li><a href={{ device.url }}>{{ device.name }}</a></li>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>