.sidebar-nav {
    height:100%;
    width:160px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x: :hidden;
    padding-top:20px;
}

.sidebar-nav a, text {
    padding:6px 8px 6px 16px;
    font-size:16px;
    color: #dbdbdb;
    display:block;
}

.sidebar-nav a:hover{
    color:#FFFFFF;
}

.content {
	margin-left:160px;
}
